@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
  --turquoise: #4d96a9;
  --darkPurple: #855fb1;
  --black: #28283d;
  --gray: #87879d;
  --lightBlue: #8fe3f9;
  --lightPurple: #d9b8ff;
  --white: #fafafa;
  --font: "Red Hat Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo {
  margin: 54px 0px 54px 0px;
}
.bubbleImg {
  display: flex;
  justify-content: center;
}
.users {
  width: 199px;
  height: 153px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.75rem;
  margin: 48px 55px 24px 55px;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.4;
  margin: 0px 30px 24px 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button1,
.button2 {
  border-radius: 29px;
  padding: 16px 29px 16px 29px;
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--white);
  margin-bottom: 16px;
}

.button1 {
  width: 193px;
  background-color: #4d96a9;
}
.button1 span {
  color: var(--lightBlue);
}
.button2 {
  width: 129px;
  background-color: #855fb1;
}
